*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 60px;
    background-color: gray;
}
#counter{
    font-size: 150px;
    font-weight: 500;
    color: #fff;

}
button{
    font-size: 35px;
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    cursor: pointer;
}